<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
    <!--css for materialize and other custom styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
  <!-- Navigation menu-->
  
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class="brand-logo">Online Cookbook</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Edit Recipes</a></li>
                    <li><a href="{{url_for('get_categories')}}">View Categories</a></li>
                    <li><a href="{{url_for('draw_chart')}}">View Dashboard</a></li>
                    <li><a href="{{url_for('table_view')}}">View Data Table</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Edit Recipes</a></li>
                    <li><a href="{{url_for('get_categories')}}">View Categories</a></li>
                    <li><a href="{{url_for('draw_chart')}}">View Dashboard</a></li>
                    <li><a href="{{url_for('table_view')}}">View Data Table</a></li>
                </ul>
            </div>
        </nav>
    </header>
 
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container center-align">
            <p>Made by Code Institute Bootcamper the_weaver &#169 2018</p>
        </div>
    </footer>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!--jquery scripts to initialise the various elements of materialize-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script type="text/javascript">
    $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('select').formSelect();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            format: "dd/mm/yyyy",
            closeOnSelect: false // Close upon selecting a date,
        });
        
// snippet found at https://stackoverflow.com/questions/48126101/javascript-to-auto-capitalize-first-letter-of-every-word-in-input-fields
 function toTitleCase(str) {
  return str.split(/\s+/).map(s => s.charAt(0).toUpperCase() + s.substring(1).toLowerCase()).join(" ");
}
    $('input').on('keyup', function(event) {
      var $t = $(this);
      $t.val(toTitleCase($t.val()));
    });   
    
//also can be used in textareas //

$('textarea').on('keyup', function(event) {
  var $t = $(this);
  $t.val(toTitleCase($t.val()));
});    
 
//warn before deleting recipes or categories // 
  function delItems() {
        confirm();
    }                  
// script to trigger the dropdown links //
    jQuery('#group-dropdown').on('change', function(){
        if(jQuery(this).val() == 1){
        window.location.href = "{{ url_for('vegetarian') }}";
        }
       if(jQuery(this).val() == 2){
        window.location.href = "{{ url_for('vegan') }}";
        }
        if(jQuery(this).val() == 3){
        window.location.href = "{{ url_for('other') }}";
        }
       if(jQuery(this).val() == 4){
        window.location.href = "{{ url_for('allrecipes') }}";
        }
        if(jQuery(this).val() == 5){
        window.location.href = "{{ url_for('starters') }}";
        }
       if(jQuery(this).val() == 6){
        window.location.href = "{{ url_for('mainDishes') }}";
        }
        if(jQuery(this).val() == 7){
        window.location.href = "{{ url_for('desserts') }}";
        }
       if(jQuery(this).val() == 8){
        window.location.href = "{{ url_for('sideDishes') }}";
        }
        if(jQuery(this).val() == 9){
        window.location.href = "{{ url_for('breadsCakes') }}";
        }
        });
    jQuery('#filter-dropdown').on('change', function(){
        if(jQuery(this).val() == 100){
        window.location.href = "{{ url_for('topfive') }}";
        }
         if(jQuery(this).val() == 200){
        window.location.href = "{{ url_for('noAllergens') }}";
        }
        if(jQuery(this).val() == 300){
        window.location.href = "{{ url_for('quickRec') }}";
        }
        if(jQuery(this).val() == 400){
        window.location.href = "{{ url_for('recentlyAdded') }}";
        }
    });
    </script>
</body>

</html>

