<!DOCTYPE html>
<html>

<head>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
  <!-- Navigation -->
  
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class="brand-logo">Online Cookbook</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Edit Recipes</a></li>
                    <li><a href="{{url_for('get_categories')}}">View Categories</a></li>
                    <li><a href="{{url_for('draw_chart')}}">View Dashboard</a></li>
                    
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Edit Recipes</a></li>
                    <li><a href="{{url_for('get_categories')}}">View Categories</a></li>
                    <li><a href="{{url_for('draw_chart')}}">View Dashboard</a></li>
                  
                </ul>
            </div>
        </nav>
    </header>
 
    <div class="container">
        {% block content %} {% endblock %}
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!--jquery scripts to initialise the various elements of materialize-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script type="text/javascript">
    $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('select').formSelect();
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            format: "dddd, dd, mmmm, yyyy",
            closeOnSelect: false // Close upon selecting a date,
        });
    jQuery('#group-dropdown').on('change', function(){
        if(jQuery(this).val() == 1){
        window.location.href = "{{ url_for('vegetarian') }}";
        }
       if(jQuery(this).val() == 2){
        window.location.href = "{{ url_for('vegan') }}";
        }
        if(jQuery(this).val() == 3){
        window.location.href = "{{ url_for('other') }}";
        }
       if(jQuery(this).val() == 4){
        window.location.href = "{{ url_for('allrecipes') }}";
        }
        if(jQuery(this).val() == 5){
        window.location.href = "{{ url_for('starters') }}";
        }
       if(jQuery(this).val() == 6){
        window.location.href = "{{ url_for('mainDishes') }}";
        }
        if(jQuery(this).val() == 7){
        window.location.href = "{{ url_for('desserts') }}";
        }
       if(jQuery(this).val() == 8){
        window.location.href = "{{ url_for('sideDishes') }}";
        }
        if(jQuery(this).val() == 9){
        window.location.href = "{{ url_for('breadsCakes') }}";
        }
       
        });
    </script>
</body>

</html>

