{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
            <div class="col s12">
                <div class="site-heading center-align"><h3>List of Vegan Recipes</h3>
                            <br>
                    <div class ="row">
                          <div class = "col s6 "> {{ pagination.info }}</div>
                          <div class ="col s6"><a href="{{url_for('draw_chart')}}" class="waves-effect waves-light btn btn_small green lighten-3">View Dashboard</a></div>
                      </div>
                    <form action="{{ url_for('vegan') }}" method="POST" class="col s12">
                        
                         {{ pagination.links }}
                         {% for recipe in recipes %}
                        <ul  class="collapsible">
                                <li>
                                    <div class="recipe-header">Recipe Name: 
                                        <span class="bold">{{recipe.Recipe_name}}</span></div>
                                </li>
                                <li>
                                    <div class="header align-center">Recipe Category:
                                        <span class="bold">{{recipe.category_name}} </span></div>
                                </li>
                                <li>
                                    <div class="header align-center">Upvotes: 
                                        <span class="bold">{{recipe.upvotes}} </span></div>
                                </li>
                                <li>
                                    <div class="header align-center">Country of Origin: 
                                        <span>{{recipe.Country_of_origin}} </span></div>
                                </li>
                                <li>
                                    <div class="header align-center">Date Added: 
                                        <span>{{recipe.Date_added}} </span></div>
                                </li>
                                <li>
                                  <div class="header align-center">Allergens: 
                                      <span>{{recipe.Allergens}} </span></div>
                                </li>
                                <li>
                                  <div class="header align-center">Total Prep and Cooking Time (minutes):
                                      <span>{{recipe.Total_time}} </span></div>
                                </li>
                                <li>
                                  <div class="collapsible-header"><i class="material-icons">expand_more</i>Ingredients</div>
                                  <div class="collapsible-body"><span>{{recipe.Ingredients}}</span></div>
                                </li>
                                <div class = "row">
                                      <div class = "col s6">
                                         <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Full Recipe</a>
                                         </div>
                                        <div class = "col s6">
                                         <a href="{{url_for('index')}}" class="waves-effect waves-light btn btn_small red lighten-3">Home Page</a>
                                     </div>
                                </div>
                         </ul> 
                        <hr>
                         {% endfor %} 
                          {{ pagination.links }}
                    </form>
             </div>
         </div>
     </div>
 </div>
 
{% endblock %}
